<header>
    <div class="top-header">
        <img  routerLink="/" class="logo" src="/assets/gui/logo-header.png" alt="logo-fibi">
        <ul>
            <li (click)="showLoginPopup()"><img src="/assets/gui/star.svg" />החשבון שלי</li>
            <li ><a href="tel:+972547633596"><img src="/assets/gui/contact-us.svg" />צור קשר</a></li>
        </ul>
    </div>
    <div class="menu-header">
        <ul>
            <li routerLink="/">דף בית</li>
            <li (click)="showLoginPopup()">כניסה לחשבון</li>
        </ul>
    </div>
</header>



<app-login *ngIf="isLoginVisible" (hideLogin)="hideLoginPopup()"></app-login>
