.user-full {
    display: flex;

    .slogan {
        color: white;
        background-color: #18285f;
        box-shadow: -2px 0 20px #0000004d;
        width: 50%;



        .content {
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 50px;
            font-weight: 200;
            padding: 50px;
            text-align: center;
            min-height: 80vh;
            align-items: center;
            flex-direction: column;
        }

    }

    .signup-from {
        width: 50%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 50px;
            font-weight: 200;
            padding: 20px;
            text-align: center;
        }

        span {
            width: 100%;
            text-align: center;
        }

        form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 15px;

            input {
                width: 70%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #a3a3a3;
                background-color: white;
                font-size: 20px;

                &:focus {
                    outline: none;
                    border: 1px solid #ffc10e;
                }
            }

            input[type="submit"] {
                width: 50%;
                border: none;
                padding: 10px;
                border-radius: 0;
                margin-top: 10px;
                font-size: 20px;
                font-weight: 400;
                background: #ffc10e;
                color: rgba(0, 31, 91, 1);
                cursor: pointer;
            }
        }

        .error {
            width: 70%;
            text-align: center;
            color: red;
        }
    }
}

@media screen and (max-width:764px) {
    .user-full {
        flex-direction: column-reverse;
        .slogan,.signup-from{
            width: 100%;
            .content{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .slogan{
            .content{
                min-height: 200px;

            }
        }
    }

}