<footer>
  <div class="info-footer">
    <div class="info-items">
      <div class="info-item">
        <img src="/assets/gui/contact-us.svg" />
        <p>
          תמיכה טכנית
          <span>054-7633596</span>
        </p>
      </div>
      <div class="info-item">
        <img src="/assets/gui/contact-us.svg" />
        <p>
          שירות לקוחות 
          <span>054-7633596</span>
        </p>
      </div>
      <div class="info-item">
        <img src="/assets/gui/contact-us.svg" />
        <p>
          צור קשר
          <span>054-7633596</span>
        </p>
      </div>
    </div>
  </div>

</footer>
